html, body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    position:relative;
    width:350px;
    margin:auto;
    overflow:hidden;
    background-color:#000046;
    height:auto;
    border: solid 1px transparent;
    border-radius: 10px;
}

.frogger p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 70px;
    font-family: 'OCR A Std', monospace;
    line-height: 120px;
    text-align: center;
    text-shadow: 2px 2px #d6df14;
    color: #1ec201;
}

.opt {
    margin-top: 20px;
}

.opt label {
    font-size: 30px;
    font-family: 'OCR A Std', monospace;
    text-align: center;
    text-shadow: 1px 1px #cbd694;
    color: #d6df14;
    margin-left: 30px;
}

.opt input {
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 30px;
}

.btn {
    color: #d6df14;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 25px 80px;
    margin: 25px 30px;
    font-family: 'OCR A Std', monospace;
    font-size: 20px;
    text-shadow: 1px 1px #cbd694;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    background-color: black;
    border: solid 1px transparent;
    border-radius: 10px;
    width: 290px;
}

.continue p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #1ec201;
    font-family: 'OCR A Std', monospace;
    text-shadow: 2px 2px #cbd694;
    text-transform: uppercase;
}

.character {
    justify-content: center;
    text-align: center;
}

.gamemode-overlay {
    text-align: center;
}

.gamemode-overlay label {
    color: #d6df14;
    text-shadow: 1px 1px #cbd694;
    font-size: 30px;
}

.gamemode {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gamemode label {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.gamemode span {
    color: #d6df14;
    text-shadow: 1px 1px #cbd694;
    font-size: 20px;
}

#img-gameover {
    margin: 10px;
    width: 330px;
    justify-content: center;
    text-align: center;
}

.control {
    display: flex;
    align-items: center;
}

.keys {
    width: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
}

.key-label {
    margin-top: 25px;
}

.control label {
    color: #d6df14;
    text-shadow: 1px 1px #cbd694;
    font-size: 15px;
    margin-right: 20px;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 1px solid rgb(157, 255, 0);
    box-shadow: 0 0 3px 3px #cbd694;
    margin: 20px;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
    border: 1px rgb(0, 0, 0);
    padding: 10px;

    transition: 500ms all;
}
